[
  {logger,[{console,[{format,<<"$date $time $metadata[$level] $message\n">>}]}]},
  {kernel,
    [{distributed, [
        {'pigeon', 5000, ['router-1@localhost', {'router-2@localhost', 'router-3@localhost'}]}]},
        {sync_nodes_mandatory, ['router-1@localhost', 'router-3@localhost']},
        {sync_nodes_timeout, 30000}
]}].