[
  {logger,[{console,[{format,<<"$date $time $metadata[$level] $message\n">>}]}]},
  {kernel,
    [{distributed, [
        {'pigeon', 5000, ['router@router1', {'router@router2', 'router@router3'}]}]},
        {sync_nodes_mandatory, ['router@router2', 'router@router3']},
        {sync_nodes_timeout, 30000}
]}].