[
  {logger,[{console,[{format,<<"$date $time $metadata[$level] $message\n">>}]}]},
  {kernel,
    [{distributed, [
        {'pigeon', 5000, ['router-1@router', {'router-2@router', 'router-3@router'}]}]},
        {sync_nodes_mandatory, ['router-2@router', 'router-1@router']},
        {sync_nodes_timeout, 30000}
]}].